/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */

.display-5 {
    font-family: 'Sora', sans-serif;
  }
  
  nav, h2, footer {
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar {
    /* --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65); */
    --bs-navbar-color: #fafafa;
    --bs-navbar-hover-color: #e423cade;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
  }
  
  i.bi-house-door {
    transition-duration: 0.22s;
  }
  
  i.bi-house-door:hover {
    color: #e423cade;
  }
  
  .navbar-toggler {
    background-color: white;
  }
  
  #hero-section {
    background-color: #1F2937;
    color: white;
    margin-left: 0;
    margin-right: 0;
  }

  #hero-section h3 {
    font-weight: 800px;
    font-style: ;
  }
  
  .hero-text {
    min-height: 50vh;
    /* border: red 5px solid; */
  }
  
  
  .bi-house-door {
    color: #fafafa;
    font-size: 30px;
  }
  
  .bi-house-door:hover {
    color: white;
  }
  
  /* #hero-section {
      background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
      url("img/background-img.jpeg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    padding: 20%;
    text-align: center;
    color: white;
  } */

  #main-photo img{
    width: 300px;
  }
  
  #main-info p {
    width: 30em;
  }



  h1 {
    /* font-size: ; */
    font-family: 'Sora', sans-serif;
    font-size: clamp(1rem, 2.5vw, 4rem);
    /* font-size: 85%; */
  }
  
  
  
  
  #footer-section {
    text-align: center;
    background-color: #1F2937 ;
    color: white;
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    padding: 25px;
  }
  
  .hero-text {
    padding-top: 100px;
  }

  #quote-section {
    background-color: #E5E7EB;

  }
  
  #quote-section div {
    /* border: red 5px solid; */
    width: 50em;

  }

  #call-to-action {
    /* border: pink 5px solid; */
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 127, 244);
    border-radius: 15px;
    color: white;
  }

  #call-to-action button {
    color: white;
    /* border: white; */
  }

  #quote-section p {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
  }

  /* .container {
    border: green 5px solid;
  } */